@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 80%);
  --white: #fff;
  --open-sans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
}
body {
  overflow: auto;
}
.container {
  min-height: fit-content;
}

header {
  min-height: 60vh;
  background-color: var(--pale-cyan);
  padding: 3rem 0;
  background-image: url('../images/bg-hero-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}
.logo-try-it-section {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}
.logo-section {
  width: fit-content;
  height: 70%;
}
.logo-section img {
  width: 100%;
  height: 100%;
}

.try-it-section {
  width: 20%;
  height: 100%;
  border-radius: 24px;
  background-color: var(--white);
  color: var(--dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.295);
  font-family: var(--open-sans);
  font-weight: 700;
  transition: all 0.3s;
}
.try-it-section:hover {
  cursor: pointer;
  color: var(--grayish-blue);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
}

.intro-section {
  display: flex;
  min-height: 60vh;
  justify-content: space-between;
}
.intro-section .intro-info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  justify-content: center;
}
.intro-info h1 {
  font-size: 2rem;
  line-height: 1.5;
  font-family: var(--poppins);
  font-weight: 600;
}
.intro-info p {
  font-family: var(--open-sans);
  font-weight: 400;
}
.get-started-btn {
  width: 50%;
  border-radius: 20px;
  border: none;
  line-height: 3.5;
  background-color: var(--pink);
  color: var(--white);
  font-family: var(--open-sans);
  font-weight: 700;
  box-shadow: 2px 3px 6px 1px rgba(138, 0, 45, 0.54);
  transition: all 0.3s;
}

.get-started-btn:hover {
  cursor: pointer;
  background-color: var(--light-pink);
}

.intro-section .intro-img {
  width: 50%;
  height: 100%;
}
.intro-img img {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  padding: 7rem 0 15rem 0;
  gap: 3rem;
}
.benefit {
  width: 90%;
  margin: 0 auto;
  display: flex;
  min-height: 30%;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  flex-shrink: 0;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.295);
  transition: all 0.3s;
}
.benefit-type-second {
  flex-direction: row-reverse;
}
.benefit:hover {
  cursor: pointer;
  transform: translate(3px, -3px);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.349);
}
.benefit .benefit-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.benefit-info h1 {
  font-family: var(--poppins);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 42px;
}
.benefit-info .description {
  color: var(--grayish-blue);
  font-family: var(--open-sans);
  font-size: 1.2rem;
  font-weight: 400;
}
.benefit .benefit-image {
  width: 35%;
  height: 61%;
}
.benefit-image img {
  width: 100%;
  height: 100%;
}

footer {
  min-height: 60vh;
  background-color: var(--dark-cyan);
  padding: 8rem 0 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .build-community-section {
  width: 50%;
  min-height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: var(--white);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.295);
  border-radius: 15px;
  position: absolute;
  top: -28%;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
}
.build-community-section h1 {
  font-family: var(--poppins);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark-cyan);
}

footer .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  color: var(--white);
  font-size: 0.8rem;
}
footer .logo-section {
  width: 20%;
  height: 55%;
}
footer .logo-section img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.footer-content-section {
  display: flex;
  justify-content: space-between;
  font-family: var(--open-sans);
}
.company-address-contact-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.company-address-contact-section section {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  transition: all 0.3s;
}

.company-address-contact-section section:hover {
  cursor: pointer;
  color: var(--pink);
}

.pages-link-section {
  width: 30%;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  transition: all 0.3s;
}
.pages-link-section p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.socials {
  width: 20%;
  display: flex;
  display: flex;
  justify-content: space-evenly;
}
.socials section {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  transition: all 0.3s;
}

.socials > section:hover {
  cursor: pointer;
  border: 1px solid var(--pink);
  color: var(--pink);
}

.copyright {
  text-align: end;
  font-family: var(--poppins);
}

@media screen and (max-width: 1000px) {
  .intro-section {
    min-height: 55vh;
  }
  .intro-info h1 {
    font-size: 1.5rem;
  }
  .get-started-btn {
    width: 60%;
  }
  .benefit-info h1 {
    font-size: 1.35rem;
  }
  .benefit-info .description {
    font-size: 1rem;
  }
  .build-community-section h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 700px) {
  .intro-section {
    flex-direction: column;
    gap: 3rem;
  }

  .intro-section .intro-info {
    width: 100%;
    align-items: center;
  }
  .intro-info {
    font-size: 0.9rem;
  }
  .intro-info h1 {
    font-size: 1.3rem;
  }
  .intro-info p {
    width: 80%;
    text-align: center;
  }
  .intro-section .intro-img {
    width: 100%;
  }
  .try-it-section {
    font-size: 0.8rem;
  }

  footer .build-community-section {
    width: 60%;
  }
  .build-community-section h1 {
    font-size: 1rem;
  }
  footer .content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {

  header{
  background-image: url('../images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .logo-section {
    height: 60%;
  }
  .try-it-section {
    width: 35%;
    max-height: fit-content;
  }

  .benefit .benefit-info {
    width: 100%;
    text-align: center;
  }
  .benefit .benefit-image {
    width: 60%;
  }
  .benefit {
    flex-direction: column;
    gap: 2rem;
  }
  footer .logo-section {
    width: 45%;
  }
  footer .build-community-section {
    width: 80%;
  min-height: 40%;
  }
  .company-address-contact-section {
    width: 100%;
  }

  .footer-content-section {
    flex-direction: column;
    gap: 1rem;
  }

  .pages-link-section {
    width: 100%;
    flex-direction: column;
    padding-left: 1rem;
  }
  .socials {
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
}
